*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #347cbb;
}

a:hover {
	color: #ffaa00;
}

.main-container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.post {
	padding: 0 1rem;
}

.image-post img {
	max-width: 100%;
	object-fit: cover;
}

.content-post {
	margin: 1rem 0;
	max-width: 750px;
	text-align: justify;
	padding: 0 1rem;
}

.content-post p {
	margin-bottom: 1rem;
}

.separator {
	border-bottom: 1px solid #9d9d9d;
	margin: 1rem 0;
}

.form-auth {
	max-width: 400px;
	margin: 0 auto;
	padding: 1rem;
}

.form-auth div {
	display: flex;
	flex-direction: column;
}

.form-auth label {
	text-align: left;
	width: 100%;
	margin-bottom: 0.5rem;
}

.form-auth input {
	font-size: 1.2rem;
	width: 100%;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #999999;
	background-color: #f0f0f0;
	margin-bottom: 1rem;
}
