*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #347cbb;
}

a:hover {
    color: #FFAA00;
}


.main-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}